.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: aliceblue;
  align-items: center;
}
.add-task-button-container {
  margin-left: 10px;
  flex: 1;
}
.task-title {
  cursor: pointer;
}
.remove-task-button {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: chartreuse;
  cursor: pointer;
}
.see-task-details-button {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: chartreuse;
  cursor: pointer;
}
.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
